@media (max-width: 770px) {
  .about-text {
    width: 100% !important;
  }
}

.about-img_container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner-title {
  color: brown;
  font-size: 3rem;
}

.aboutpage {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("../../images/slide-02.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 60vh;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
