.nav-link {
  font-size: 1.2rem;
  padding: 0 1rem !important;
}

@media (max-width: 575px) {
  .enroll-btn {
    margin-top: 1rem;
  }
}

.div-col {
  width: 100%;
  height: calc(100vh - 77px);
  flex: 1 !important;
  padding: 0;
  max-width: 100% !important;
}

.carousel-item img {
  width: 100%;
  height: calc(100vh - 77px);
}

.carousel-caption {
  right: 35%;
  top: 35%;
  left: 0;
}
