.nav-link {
  font-size: 1.2rem;
  padding: 0 1rem !important;
  text-decoration: none !important;
}

.nav-link a {
  text-decoration: none !important;
}

a:hover {
  text-decoration: none;
}

.header-styles {
  height: 100vh;
}

@media (max-width: 575px) {
  .enroll-btn {
    margin-top: 1rem;
  }
}

.div-col {
  width: 100%;
  height: calc(100vh - 77px);
  flex: 1 !important;
  padding: 0;
  max-width: 100% !important;
}

.carousel-item img {
  width: 100%;
  height: calc(100vh);
}

.carousel-caption {
  right: 35%;
  top: 35%;
}

@media (max-width: 750px) {
  .carousel-caption {
    top: 30%;
  }
}

@media (max-width: 550px) {
  .carousel-caption {
    width: 80%;
  }
  .carousel-caption h1 {
    font-size: 1.7rem;
  }
}
